<html>
    <title>Manage </title>
    <link rel="icon" href="../../../../../../reactmechanics/media/img/reactmechanicsbrandlogo.png">
    <body id="content">
        <div id="wrap">
            {% include 'templates/partials/header.twig' %}          
            {% block wrap %}   {% endblock %}
            <footer>
                {% include 'templates/partials/footer.twig' %}
            </footer>         
        </div>
    </body>
</html>