<html>
    <title>Campaign Builder</title>
    <link rel="icon" href="../../../../../reactmechanics/media/img/reactmechanicsbrandlogo.png">
    <body id="content">
        <div id="wrap">
            {% include 'templates/partials/header2.twig' %}          
            {% block wrap %}   {% endblock %}
            <footer>
               
            </footer>         
        </div>
    </body>
</html>