<html>
    <title>Contacts</title>
    <link rel="icon" href="../../../../../reactmechanics/media/img/reactmechanicsbrandlogo.png">
    <body id="content">
         {% include 'templates/partials/header.twig' %}          
        <div id="wrap">
           {% block wrap %}   {% endblock %}
            <footer>
                {% include 'templates/partials/footer.twig' %}
            </footer>        
        </div>
    </body>
</html>