<html>
    <title>Project</title>
    <link rel="icon" href="../../../../../reactmechanics/media/img/reactmechanicsbrandlogo.png">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/css/bootstrap-multiselect.css">
    <body id="content">
         {% include 'templates/partials/header.twig' %}          
        <div id="wrap">
           {% block wrap %} {% endblock %}
            <footer>
                {% include 'templates/partials/footer.twig' %}
            </footer>         
        </div>
    </body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/js/bootstrap-multiselect.js"></script>
</html>